.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #f5f5f5;

  --primary-color: green;
  --secondary-color: yellow;
  --inverted-primary-color: #ff8800;
  --inverted-secondary-color: #ffffff;
}