.app_dark_theme {
  --bg-color: #0e0e75;
  --inverted-bg-color: #f5f5f5;
  --primary-color: green;
  --secondary-color: yellow;
  --inverted-primary-color: #f80;
  --inverted-secondary-color: #fff;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #0d0d6b;
}
