.app.light {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #0e0e75;

  --primary-color: #ff8800;
  --secondary-color: #6b9d74;
  --inverted-primary-color: green;
  --inverted-secondary-color: yellow;
}